<!DOCTYPE html>
<html>
  <head>
    <title> CGFIE  06 </title>
    
    <!-- Zurb Foundation-->
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerfoundation/css/foundation.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/cgfieinscriptions/css/metallic.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/cgfieinscriptions/select2/select2.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/cgfieinscriptions/js/jgrowl/jquery.jgrowl.css') }}" />

    <!--required JS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//knockoutjs.com/downloads/knockout-2.2.1.js"></script>
    <script type="text/javascript" src="{{ asset('bundles/bmatznerfoundation/js/foundation.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/cgfieinscriptions/js/zebra_datepicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/cgfieinscriptions/select2/select2.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/cgfieinscriptions/js/jgrowl/jquery.jgrowl.js') }}"></script>

  <style>

      BODY, HTML
      {
        overflow-x: hidden;
      }

     .row_even
     {
      background-color: #F0F0F0; color: #666666;
     }

     .row_odd
     {
      background-color: #0694C8; color: white;      
     }     
  </style>

  </head>
  <body>
    <img id="loader" src="{{ asset('bundles/cgfieinscriptions/images/ajax-loader.gif') }}" style="display:none;position: absolute;top: 25px;left: 395px;"/>

    <h2>Evaluación de la Acción de Formación</h2>    
    <form class="custom">
        <fieldset id="step01" >
          <legend>Acción de Formación</legend>
          <div class="row">
            <div class="large-6 columns">

              <label for="courseID">Acción de formación:</label>
              <select id="courseID" name="courseID" class="large" data-customforms="disabled">
                <option value="0">- Seleccione -</option>
                {% for course in COURSES %}
                    <option value="{{course.id}}"> {{course.name}} </option>>
                {% endfor %}
              </select>             

            </div>

            <div class="large-6 columns">
              <label>Modalidad:</label>
              <input type="text" disabled="true" id="course_mode" name="course_mode">                  
            </div>

          </div>  

          <div class="row">
            <div class="large-6 columns">
                <label for="course_entity">Sede:</label>
                <select id="course_entity" name="course_entity" class="large" data-customforms="disabled">
                  <option value="0">- Seleccione -</option>
                  {% for entity in ENTITTIES %}
                      <option value="{{entity.id}}"> {{entity.name}} ({{entity.acronym}}) </option>>
                  {% endfor %}
                </select>                
            </div>

            <div class="large-6 columns">
              <label>Total de horas:</label>
              <input type="text" disabled="true" id="course_hours" name="course_hours">                                
            </div>

          </div>

          <div class="row">
            <div class="large-6 columns">
                <label for="course_teacher">Facilitador:</label>
                <select id="course_teacher" name="course_teacher" class="large" data-customforms="disabled">
                  <option value="0">- Seleccione -</option>
                  {% for user in USERS %}
                      <option value="{{user.id}}"> {{user.name}} {{user.lastname}} {{user.lastname2}}</option>
                  {% endfor %}
                </select>
            </div>

               <div class="large-3 columns">
                  <label>Fecha de inicio:</label>
                  <input type="text"  id="course_date_start" name="course_date_start">                  
               </div>               

               <div class="large-3 columns">
                  <label>Fecha de término:</label>
                  <input type="text"  id="course_date_end" name="course_date_end">                  
               </div> 
          </div>


            <div class="row">
               <div class="large-6 columns">
                  <label>Clave única de Registro: (CUR)</label>
                  <input id="course_cur" name="course_cur" type="text" disabled="true">                  
               </div>
            </div>

          </div>
       </fieldset>

        <fieldset id="step02" >
          <legend>Participantes</legend>

          <div class="row">
            <div class="large-6 columns">
                <label for="course_pupil">Usuarios CGFIE:</label>
                <select id="course_pupil" name="course_pupil" class="large" data-customforms="disabled">
                  <option value="0">- Seleccione -</option>
                  {% for user in USERS %}
                      <option value="{{user.id}}"> {{user.name}} {{user.lastname}} {{user.lastname2}}</option>
                  {% endfor %}
                </select>
            </div>

            <div class="large-2 columns" style="padding-top:10px;">
              <a id="add_pupil" href="#" class="button small radius success"  data-bind="click: addPupil">Agregar al listado</a>
            </div>

            <div class="large-2 columns"  style="padding-top:10px;">

            </div>            

            <div class="large-2 columns"  style="padding-top:18px;">
              &nbsp;
            </div>                        
        </div>

        <div class="row">
          <div class="large-12 columns" style="height:25px;">

          </div>
        </div>


<div class="row">
  <div class="large-12 columns">
       <div class="row row_even">
          <div class="large-1 columns">
            &nbsp;
          </div>                
          <div class="large-5 columns">
            Participante:
          </div>        
          <div class="large-2 columns">
            Asistencia:
          </div>        
          <div class="large-2 columns">
          Acreditación:
          </div>        
          <div class="large-2 columns">
          Calificación:
          </div>                                      

       </div>
  </div>
</div>


<div class="row">
  <div class="large-12 columns">

        <div class="row row_odd" data-bind="foreach: pupils">
          <input type="hidden" name="pupils[]" value="" data-bind="value: id">
          <div class="large-1 columns" style="padding-top:18px">
            <input type="checkbox" data-customforms="disabled" class="selected_items" value="" data-bind="value: id"/>
          </div>
          <div class="large-5 columns" style="padding-top:18px" data-bind="text: name">
            
          </div>
          <div class="large-6 columns">

            <div class="row" >
              <div class="large-3 columns" style="padding-top:18px; display: inline;">   
                    <select >
                        <option value="0">-Seleccione-</option>
                        {% for number in PERCENTS %}
                            <option value="{{number}}"> {{number}} % </option>>
                        {% endfor %}
                    </select>
              </div>

              <div class="large-3 columns" style="padding-top:18px;margin-left: 40px;">
                    <select>
                        <option value="0">-Seleccione-</option>
                        {% for number, value in AGREE %}
                            <option value="{{value}}"> {{number}}</option>>
                        {% endfor %}
                    </select>                  
              </div>

              <div class="large-3 columns" style="padding-top:18px;margin-right: 40px;">
                    <select>
                        <option value="0">-Seleccione-</option>
                        {% for number, value in CALS|keys %}
                            <option value="{{number}}"> {{value}}</option>>
                        {% endfor %}
                    </select>     
              </div>                            
            </div>

          </div>
        </div>

        <div class="row">
          <div class="large-12 columns" style="padding-top:20px;">
            <a href="javascript:void(0);" id="remove_pupils" class="small button radius" data-bind="click: removePupil" style="display:none;">Quitar de la lista</a>
          </div>
        </div>

       <div class="row">
          <div class="large-12 columns" style="padding-top:20px;">
            <a href="javascript:void(0);" id="save_data" class="medium button radius">Guardar</a>
          </div>
        </div>

  </div>
</div>
        </fieldset>
    </form>
  <script>
    $(function()
    {

      $(document).foundation(); 

      //KOUT
      function Pupil(name, id) {
          var self = this;
          self.name = name;
          self.id = id;
      }

      var PupilListModel = function(items)
      {
        
        var self = this;
        
        self.pupils = ko.observableArray([]);

        // Operations
        self.addPupil = function() 
        {
          var name = $('#course_pupil').select2('data').text;
          var id   = $('#course_pupil').val();

          var match = ko.utils.arrayFirst(self.pupils(), function(item)
          {
              return id === item.id;
          });          

          if(!match)
          {
            self.pupils.push(new Pupil(name, id));  
          }else
          {

            $.jGrowl("Ya existe el participante.");
          }

          $('.selected_items').change(function()
          {
              var button = $('#remove_pupils');
              var values = $('input:checkbox:checked.selected_items').map(function () {
                return this.value;
              }).get();
              if(values.length) 
              {
                button.fadeIn('fast');
              }else
              {
                button.fadeOut('fast');
              }
              
          });            

        }

        self.removePupil = function()
        {

          var values = $('input:checkbox:checked.selected_items').map(function () {
            return this.value;
          }).get();

          if(values.length > 0) 
          {
            $.each(values, function(index, val)
            {
              var match = ko.utils.arrayFirst(self.pupils(), function(item) {
                  return item.id;
              }); 

              if (match) {
                self.pupils.remove(match);
                $('#remove_pupils').fadeOut('fast');
                $.jGrowl("Se quitó el participante: " + val);
              }
              
            });
          }
        }


      };

      ko.applyBindings(new PupilListModel());

      //END knockoutjs

    
      $('#course_date_start').Zebra_DatePicker(
        {
          direction: true,
          pair: $('#course_date_end'),
          format: 'Y-m-d'
        });

      $('#course_date_end').Zebra_DatePicker(
        {
          direction: 1,
          format: 'Y-m-d'
        });

      $('#course_teacher').select2(
        {
            placeholder: "Seleccione un facilitador",
            allowClear: true          
        });

      $('#course_pupil').select2(
        {
            placeholder: "Seleccione",
            allowClear: true          
        });      

      $('#courseID').select2(
        {
            placeholder: "Seleccione una acción de formación",
            allowClear: true          
        });      

      $('#course_entity').select2(
        {
            placeholder: "Seleccione una sede",
            allowClear: true          
        });      
      
      $('#save_data').on('click', function()
      {

        var _url          = "{{ path('cgfie_inscriptions_add') }}";
        var courseId      = $('#courseID').select2('val');
        var courseEntity  = $('#course_entity').select2('val');
        var courseTeacher = $('#course_teacher').select2('val');
        var _begin        = $('#course_date_start').val();
        var _end          = $('#course_date_end').val();

        var pupilsCollection = $('input[name="pupils[]"]');
        var pupilsData  = Array();
        $.each(pupilsCollection, function()
        {
            
            var pupil     = $(this);
            var data      = pupil.next().next().next();
            var columns   = data.children().children();
            var selects   = $(columns).find('SELECT');

            var s1        = selects.first();
            var s2        = selects.eq(1);
            var s3        = selects.last();

            _pupil       = 
                          {
                            id:           pupil.val(),
                            asistencia:   s1.val(),
                            acreditacion: s2.val(),
                            calificacion: s3.val(),
                          }

            pupilsData.push(_pupil);

        });

     
        var _data = { 
                    course_id : courseId, 
                    entity_id: courseEntity, 
                    teacher_id : courseTeacher, 
                    begin: _begin,
                    end: _end,
                    pupils: pupilsData,
                  };

            $.ajax({
              type: "POST",
              url: _url,
              data: _data,
            });        
      });       

      $('#courseID').on('change', function()
      {
          var _url = "{{ path('cgfie_inscriptions_course') }}/" + $(this).val();          

          $("fieldset#step01").append('<div id="overlay"></div>');

          var overlay = $('#overlay')
          overlay.css('width', $(document).width());
          overlay.css('height', $(document).height());
          overlay.css('background-color', 'white');
          overlay.css('position', 'fixed');
          overlay.css('left', '0');
          overlay.css('top', '0');
          overlay.css('opacity', '.8');
          overlay.css('z-index', '100');
          overlay.fadeIn('fast');

          var loader = $('#loader');
          loader.fadeIn();
          loader.css('margin-left', 'auto');
          loader.css('margin-right', 'auto');
          loader.css('margin-top', 'auto');
          loader.css('left', '0');
          loader.css('right', '0');
          loader.css('top', '50%');
          loader.css('position', 'absolute');
          loader.css('z-index', '9999');
               
          $.ajax({
            dataType: "json",
            url: _url,
            success: function(data)
            {

              $('#course_cur').val(data.cur);
              $('#course_mode').val(data.mode);
              $('#course_hours').val(data.hours);

              $('#loader').fadeOut('fast');
              overlay.fadeOut('fast', function()
              {
                $('#overlay').remove();
              });

            }
          });        

      });

    })
  </script>
  </body>
</html>